$text-field-filled-full-width-outlined-slot-min-height: 36px !default;
$text-field-outlined-fieldset-border: 0 !default;
$text-field-outlined-fieldset-border-width: 0 !default;

$input-font-size: 14px !default;
